{% extends "base.jinja" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}修改密码{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="page-header content-main-padding">
                    <h1>修改密码</h1>
                </div>
                <div class="content-main-padding">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}
