{% extends "bootstrap/base.html" %}

{% block head -%}
    {{ super() }}
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='favicon.ico') }}"
          type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"
          type="image/x-icon">
{%- endblock %}

{% block navbar -%}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#monitor-navbar-collapse"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"
                   href="{{ url_for('index') }}">Monitor</a>
            </div>

            <div class="collapse navbar-collapse" id="monitor-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">首页</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('ban.index') }}">禁止列表</a></li>
                    {% endif %}
                    <li><a href="//mitm.it/">下载证书</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            {{ current_user.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">

                            <li><a href="{{ url_for('auth.changepassword') }}">修改密码</a>
                            </li>
                            <li><a href="{{ url_for('auth.logout') }}">注销</a>
                            </li>

                        </ul>
                    {% endif %}
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{%- endblock %}

{% block content -%}
    {% block message %}
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close"
                        data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endblock %}
    {% block main %}
    {% endblock %}
{%- endblock content %}

{% block stripts -%}
    {{ super() }}
{%- endblock %}
